
<meta name="keywords" content="{:config('PLAT')['keyword']}">
<meta name="description" content="{:config('PLAT')['keyword']}">

<link rel="shortcut icon" href="favicon.ico"> <link href="__INDEX__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="__INDEX__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__INDEX__/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__INDEX__/css/animate.min.css" rel="stylesheet">
<link href="__INDEX__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<style>
    .paging_bar{
        margin: 14px 22px 0px 22px;
        padding: 12px 0px 0px 0px;
        clear: both;
        font-size: 14px;
        text-align: right;
        color: #666666;
    }
    .paging_bar span{
        padding: 0px 2px;
    }
    .paging_bar a{
        color: #666666;
        text-decoration: none;
        border: 1px solid #d3d3d3;
        padding: 4px 14px;
        font-size: 14px;
    }
    .paging_bar a:hover{
        color: white;
        background: #d3d3d3;
    }
</style>